html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


.modal-content {
    border-radius: 0 !important;
    border: none !important;
}

.modal-body {
    padding: 10px !important;
}

.modal-footer {
    padding: 10px !important;
}

@media(min-width: 768px) {
    .modal-dialog {
        width:500px !important;
        margin: 50px auto !important;
    }
}

.grid{
    width: 100%;
    display: block;
    overflow: hidden;
}
.grid-item {
    text-align: center;
    width: 350px;
    min-width: 300px;
    padding: 15px 15px 0 15px;
}

.timestamp{
    display: none;
}
.panel-heading {
    overflow: hidden;
    background-color: #ccc !important;
    color:#444444!important;
}
.panel-footer {
    overflow: hidden;
    background-color:#ccc !important;
    color:#444444!important;
}
.panel-body{
    padding:10px;
    background-color:white;
}
.type{
    display: inline-block;
    float: right;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: white;
    padding: 5px;
    margin-top: -10px;
    margin-right: -10px;
    color:#222222;
}
.act{
    display: inline-block;
    float:left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: white;
    padding: 5px;
    margin-top: -10px;
    margin-left: -10px;
    color:#222222;
}
.register{
    display: inline-block;
    float:left;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: white;
    padding: 5px;
    margin-bottom: -10px;
    margin-left: -10px;
    color:#222222;
}
.delete{
    display: inline-block;
    float:right;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: white;
    padding: 5px;
    margin-bottom: -10px;
    margin-right: -10px;
    color:#222222;
}
.buttons{
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    display:block;
}
.btn-group button{
    margin:5px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Custom checkboxes */
input[type=checkbox].checkbox-toggle { display:none; } /* On cache la vraie checkbox */
input[type=checkbox].checkbox-toggle + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox].checkbox-toggle + label {
    font-weight:normal;
}

input[type=checkbox].checkbox-toggle + label:before { content: "\f204"; width: 1.28571429em; } /* Pas checked */
input[type=checkbox].checkbox-toggle + label:before { letter-spacing: 5px; } /* Espace avant le label */

input[type=checkbox].checkbox-toggle:checked + label:before { content: "\f205"; width: 1.28571429em; } /* Checked */
input[type=checkbox].checkbox-toggle:checked + label:before { letter-spacing: 5px; } /* Espace avant le label */
